.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 80vh;
}

.musical-detail-card {
    width: 80%;
    margin: 20px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);
}

.musical-card-nav-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.musical-detail-card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

img {
    width: 250px;
    border-radius: 12px;
}

.details {
    margin: 20px;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

mat-card-title {
    font-family: 'Raleway';
    font-size: 3rem;
}