<div class="card-container">
  <mat-card class="musical-detail-card">
    <mat-card-header>
      <mat-card-title>{{musical.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{musical.albumCover}} alt="album cover art for musical"/>
    <mat-card-content class="details">
      <p>Location: {{musical.location}}</p>
      <p>Open Date: {{musical.openDate.toString()}}</p>
      <p>Close Date: {{(musical.closeDate)?musical.closeDate.toString():("Ongoing")}}</p>
      <iframe style="border-radius:12px" [src]="getSafeUrl(musical.spotifyAlbum)" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </mat-card-content>
    <nav>
      <button mat-icon-button color="accent" aria-label="Back arrow icon" [routerLink]="['/', 'musicals']">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Delete icon" (click)="deleteMusical()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button color="accent" aria-label="Delete icon" (click)="editMusical()">
        <mat-icon>edit</mat-icon>
      </button>
    </nav>
  </mat-card>
</div>
