<h1>Musical App 🎭</h1>
<div class="card-container">
  <mat-card *ngFor="let musical of musicals">
    <mat-card-header>
      <mat-card-title>{{musical.name}}</mat-card-title>
      <mat-card-subtitle>{{musical.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{musical.albumCover}} alt="album cover art for musical"/>
    <mat-card-content>
      <p>Open Date: {{musical.openDate.toString()}}</p>
      <p>Close Date: {{(musical.closeDate)?musical.closeDate.toString():("Ongoing")}}</p>
      <p>Spotify Album: {{musical.spotifyAlbum}}</p>
    </mat-card-content>
  </mat-card>
</div>

<router-outlet></router-outlet>
