<div class="full-edit-window">
    <h1 id="edit-form-header">edit musical</h1>
    <mat-card class="form-container">
        <nav class="musical-card-nav-top">
            <button mat-icon-button color="primary" aria-label="Back arrow icon" (click)="clickBack()" matTooltip="back to musical details">
            <mat-icon>arrow_back</mat-icon>
            </button>
        </nav>
        <form [formGroup]="editMusicalForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label> 
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Open Date</mat-label>
                <input matInput [matDatepicker]="openpicker" formControlName="openDate">
                <mat-datepicker-toggle matIconSuffix [for]="openpicker"></mat-datepicker-toggle>
                <mat-datepicker #openpicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Close Date</mat-label>
                <input matInput [matDatepicker]="closepicker" formControlName="closeDate">
                <mat-datepicker-toggle matIconSuffix [for]="closepicker"></mat-datepicker-toggle>
                <mat-datepicker #closepicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Location</mat-label>
                <input matInput type="text" formControlName="location">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Spotify Album ID</mat-label>
                <input matInput type="text" formControlName="spotifyAlbum">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Album Cover URL</mat-label>  
                <input matInput type="text" formControlName="albumCover">
            </mat-form-field>
            <mat-card-actions>
                <button mat-stroked-button color="primary" type="submit">Submit</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
